<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="urdf-viewer" version="0.1.1">
    <details>
        <title>URDF Viewer</title>
        <homepage>https://github.com/Wirecloud/urdf-viewer-widget</homepage>
        <authors>Álvaro Arranz</authors>
        <email>aarranz@fi.upm.es</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>The best project ever.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache-2.0</license>
        <issuetracker>https://github.com/Wirecloud/urdf-viewer-widget/issues</issuetracker>
    </details>

    <requirements>
    </requirements>

    <preferences>
        <preference name="ros_bridge_url" type="text" label="ROS Bridge URL" description="URL of the ROS Bridge v2.0 server (See http://wiki.ros.org/rosbridge_suite for more info)" default="ws://demo.robotwebtools.org:9090"/>
        <preference name="static_resources_url" type="text" label="Static Resources base URL" description="Base URL for static resources (e.g. collada files)" default="http://resources.robotwebtools.org/"/>
    </preferences>

    <wiring>
    </wiring>

    <contents src="index.html"/>
    <rendering height="300px" width="30%"/>

</widget>
